@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


@import './styles/theme.css';
@import './styles/button.css';

html {
  scroll-behavior: smooth;
  scrollbar-color: orange;
  scroll-padding-top: 80px;
}


.error-text {
    @apply block text-sm text-red-500 mt-1 rounded px-2 py-1 bg-red-50 border border-red-300 transition-all duration-200 ease-in-out;
}

.form-group{
    @apply mb-6
}


.form-group .input-field {
    @apply w-full px-3 py-2 border border-gray-300 rounded-md bg-white text-gray-900 text-sm transition-all duration-200 ease-in-out;
}

.form-group .label {
    @apply block text-sm font-medium text-gray-900 mb-2;
}


/* class="block text-sm font-medium mb-1" */