@import "tailwindcss";



@import './styles/theme.css';
@import './styles/button.css';


/* @theme {
  --color-background: #0d0d0d;
  --color-surface: #111111;
  --color-primary: #ff6b00;
  --color-secondary: #f5f5f5;
  --color-border: #1f1f1f;
  --color-text-primary: #f5f5f5;
  --color-text-secondary: #a3a3a3;
  --font-sans: 'Inter', 'Poppins', sans-serif;
} */


.error-text {
    @apply block text-sm text-red-500 mt-1 rounded px-2 py-1 bg-red-50 border border-red-300 transition-all duration-200 ease-in-out;
}

.form-group{
    @apply mb-6
}


.form-group .input-field {
    @apply w-full px-3 py-2 border border-gray-300 rounded-md bg-white text-gray-900 text-sm transition-all duration-200 ease-in-out;
}

.form-group .label {
    @apply block text-sm font-medium text-gray-900 mb-2;
}


/* class="block text-sm font-medium mb-1" */